.DS_Store
**/__pycache__/
*.pyc
codes/examples/
exp_sub/
**/nohup.out
**/loglog*
**/dump
**/logs_*
**/log/
**/log_dir*
**/log_old*
**/pt/
**/ToRemove/
simulator/plot/trace_log_backup
simulator/plot/json_backup
scripts/
logs/

